body {
  background-color: rgb(45, 45, 45);
  font-family: Arial, sans-serif;
}
.container {
  width: 95vh;
  height: 140vh;
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: white;
  padding-right: 15px;
}
.container > .left {
  width: 40%;
  height: 100%;
  background-color: #82706b2d;
  padding: 0 10px;
}
.container > .right {
  width: 60%;
  height: 100%;
  background-color: white;
  padding: 0 10px;
}
.profile {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile > img {
  width: 100%;
  border: 6px solid #949393de;

  width: 50%;
  height: 50%;
  margin: auto;
  border-radius: 50%;
  margin-top: 15%;
}
.left > .name > h2 {
  text-align: center;
  font-weight: bolder;
}
.left > .position > h2 {
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  color: #5f432a;
  line-height: 0;
}
.left > .position {
  margin-bottom: 10%;
}
.left .details {
  /* border: 1px solid red; */
  /* margin-top: 30px; */
  font-size: 12px;
}
.left > .details ul {
  list-style: none;
  margin-left: 0;
  line-height: 2;
  /* border: 1px solid blue; */
  text-align: left;
  line-height: 2.5;
}
.left > .details ul > li {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 2%;
  margin: 0;
}
.fa-location-dot,
.fa-envelope,
.fa-linkedin,
.fa-github,
.fa-phone,
.fa-chalkboard,
.fa-volleyball,
.fa-person-swimming,
.fa-table-tennis-paddle-ball,
.fa-kitchen-set,
.fa-github-square,
.fa-cloud {
  color: #5f432a;
  font-size: 14px;
  margin-right: 3%;
}
a {
  text-decoration: none;
  color: black;
}
a:hover,
i:hover {
  cursor: pointer;
  color: #6d3d14;
}
.left > .details ul > li > div {
  display: inline-block;
  /* border: 1px solid blue; */
  margin-right: 3%;
  width: 5%;
  height: auto;
}
.left > .details ul > li > span {
  line-height: 1.4;
}
.left > .summary,
.left > .skills,
.left > .interest,
.container > .right > .education,
.container > .right > .project,
.container > .right > .achievements {
  width: 90%;
  margin: auto;
}
.left > .summary > h2,
.left > .skills > h2,
.left > .interest > h2,
.container > .right > .education > h2,
.container > .right > .project > h2,
.container > .right > .achievements > h2 {
  text-align: left;
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 10%;
  margin-bottom: 0;
  color: #473320ea;
}
.left > .summary > h2 + hr,
.left > .skills > h2 + hr,
.left > .interest > h2 + hr,
.container > .right > .education > h2 + hr,
.container > .right > .project > h2 + hr,
.container > .right > .achievements > h2 + hr {
  width: 100%;
  border: 1px solid #4733207f;
}
.left > .summary > p {
  font-size: 12px;
}
.left > .skills > ul,
.left > .interest > ul,
.container > .right > .education > ul,
.container > .right > .project > ul,
.container > .right > .achievements > ul {
  font-size: 12px;
  line-height: 1.5;
  padding-left: 5%;
}
.left > .interest > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
}
.container > .right > .project {
  margin-top: 12%;
}
.container > .right > .project > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  /* border: 1px solid black; */
  line-height: 0;
}
.container > .right > .project > div > h3 {
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: underline;
  /* margin-bottom: 0; */
  color: #473320ea;
}
.container > .right > .project > div > .fa-github-square,
.fa-cloud {
  font-size: 16px;
}
.container > .right > .project {
  font-size: 12px;
  margin-top: 15%;
}
.container > .right > .project > .features {
  font-size: 14px;
  font-weight: 600;
}
.container > .right > .achievements > ul > li {
  font-size: 12px;
}
.container > .right > .achievements > ul > li > span {
  font-size: 9px;
  color: gray;
  padding-left: 1.9%;
}
